{% load staticfiles %}
{% load thumbnail %}
<div class="item blog blog-single">
	<div class="page-head">
		<div class="row">
			<div class="col-md-5">
				<h3>Blog</h3>
			</div>
		</div>
	</div>
	<div class="blog-wrap">
		<article>
			<div class="row">
				<div class="col-md-12 blog-single-img">
					<img src="{{ post.image|thumbnail_url:'standard' }}" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-12">
					<h3>{{ post.title }}</h3>
					<div class="post-meta">
						<i class="fa fa-calendar"></i> <a href="#">{{ post.date|date:"d F" }}</a>
					</div>
					{{ post.preview }}
				</div>
			</div>
		</article>
		<div class="contact-form">
			<h4>Leave a comment</h4>
			<form>
				<div class="row">
					<div class="col-md-4">
						<input type="text" placeholder="name">
						<input type="text" placeholder="e-mail">
						<input type="text" placeholder="website">
					</div>
					<div class="col-md-8">
						<textarea rows="6" placeholder="Message"></textarea>
						<button type="submit">Send Message</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>