{% load staticfiles %}
<div class="item contact" id="5">
	<div class="page-head">
		<div class="row">
			<div class="col-md-5">
				<h3>Contact Us</h3>
			</div>
		</div>
	</div>
	<div class="map">
		<div class="gmap">
			<div id="map"></div>
			<a id="marker" href={% static "blog/images/marker.png" %}></a>
		</div>
	</div>
	<div class="contact-info">
		<h4>Contact info</h4>
		<p>I'm currently living in Sunnyvale, CA. However, I travled a lot between China and USA, hanging out with different start-up type of people from
		Bay Area, Beijing, Shanghai, Hangzhou. You can reach me through following contact information:</p>
		<ul>
			<li><i class="fa fa-home"></i> N. Fair Oaks Ave, Sunnyvale</li>
			<li><i class="fa fa-envelope"></i> adamyangzhenxi@gmail.com</li>
		</ul>
	</div>
	<div class="contact-form">
		<h4>Send us a message</h4>
		<form id="contactForm" action="php/contact.php" method="post">
			<div class="row">
				<div class="col-md-4">
					<input type="text" name="senderName" id="senderName" placeholder="name">
					<input type="email" name="senderEmail" id="senderEmail" placeholder="e-mail">
					<input type="text" name="subject" id="subject" placeholder="Subject">
				</div>
				<div class="col-md-8">
					<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
					<button type="submit">Send Message</button>
				</div>
			</div>
		</form>
		<div id="successMessage" class="successmessage">
			<p><span class="success-ico"></span> Thanks for sending your message! We'll get back to you shortly.</p>
		</div>
		<div id="failureMessage" class="errormessage">
			<p><span class="error-ico"></span> There was a problem sending your message. Please try again.</p>
		</div>
		<div id="incompleteMessage" class="statusMessage">
			<p>Please complete all the fields in the form before sending.</p>
		</div>
	</div>
</div>