<div class="item resume" id="3">
	<div class="page-head">
		<div class="row">
			<div class="col-md-5">
				<h3>Resume</h3>
			</div>
		</div>
	</div>
	<div class="resume-info">
		<h4>Work Experience</h4>
		<div class="sep2"></div>
		<ul>
			<li>
				<h5>Google</h5>
				<span class="year"><i class="fa fa-calendar"></i> 2013 - now</span>
				<p>As a software engineer, I worked in Google's Display Ads team, externally known as AdSenses. I cannot tell much about the work here.
				What I can say is that Google is the best Tech company in most ways in this world. I enjoy working here very much and learned a lot.</p>
			</li>
			<li>
				<h5>ExaCloud</h5>
				<span class="year"><i class="fa fa-calendar"></i> 2012 - 2013</span>
				<p>I had two internship here, in the first one as a software engineer and in the second one as a product manager. We built a Chinese online
				home decoration website, providing great tools and community for customers to design their home decoration. Working in a Start Up company is
				definitely a whole lot of fun. We are facing some hardest problems everyday and we are working extremely hard as a team to get things done.
				Here I met the to-be-best entrepreneurs in China and I'm always grateful for their recognizing my value, mentoring me leading me into startup
				world.</p>
			</li>
			<li>
				<h5>Broadcom</h5>
				<span class="year"><i class="fa fa-calendar"></i> 2012</span>
				<p>My first real internship as a software engineer. Although its in an hardware company, I had a very good mentor, showing me what is it like to behave
				as a professional software engineer. I built extensive C++ and Vi skills here. </p>
			</li>
		</ul>
	</div>
	<div class="resume-info">
		<h4>Education</h4>
		<div class="sep2"></div>
		<ul>
			<li>
				<h5>University of Michigan</h5>
				<span class="year"><i class="fa fa-calendar"></i> 2009 - 2013</span>
				<p>I spent my junior and senior year in Umich undergraduate school Computer Engineer department. After that, I continued to finish my master degree
				in Computer Science. In those 4 years, I explored different areas of interest. I took coarses in all different branches under EECS department
				during undergraduate study. After entering graduate school, I focused on computer science and learned quite a lot of fundamental computer science
				knowledge. More than that, I worked as a Graduate Student Instructor, where I developed some techinique and communication skills.</p>
			</li>
			<li>
				<h5>Shanghai Jiaotong University</h5>
				<span class="year"><i class="fa fa-calendar"></i> 2007 - 2009</span>
				<p>I don't remember I did anything very interesting during those two years. Think back to the days in Shanghai, all I can remember is those days and night
				playing Dota....Should I put it in Education section? </p>
			</li>
		</ul>
	</div>
</div>
